flows/MOD-7-Final-Flow.json
[
  {
    "id": "3fd1c00e.18368",
    "type": "tab",
    "label": "Mod 6 and 7 Flow",
    "disabled": false,
    "info": ""
  },
  {
    "id": "c1e93155.022628",
    "type": "debug",
    "z": "3fd1c00e.18368",
    "name": "MQTT_IN_DEBUG",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 380,
    "y": 320,
    "wires": []
  },
  {
    "id": "df8dd3be.e33f1",
    "type": "mqtt in",
    "z": "3fd1c00e.18368",
    "name": "PI_SENSORS_MQTT_BUS",
    "topic": "SNHU/IT697/john_richardson3/sensor/data/#",
    "qos": "2",
    "datatype": "json",
    "broker": "2e852088.9d8e5",
    "x": 160,
    "y": 240,
    "wires": [
      [
        "c1e93155.022628",
        "b50ada17.d9646"
      ]
    ]
  },
  {
    "id": "b50ada17.d9646",
    "type": "function",
    "z": "3fd1c00e.18368",
    "name": "SET_MONGO_COLLECTION",
    "func": "var sensorHistMsg = {\n    collection: \"sensor_history\",\n    payload:{\n        data:{\n            humidity: msg.payload.data.humidity,\n            temperature: msg.payload.data.temperature\n        },\n        timestamp: msg.payload.timestamp,\n        sensor_id: msg.payload.sensorId\n    }\n}\n\nvar sensorId = msg.payload.sensorId;\nmsg._id = sensorId;\nmsg.collection = \"sensors\";\nreturn [msg, sensorHistMsg];",
    "outputs": 2,
    "noerr": 0,
    "x": 630,
    "y": 240,
    "wires": [
      [
        "ea9df9f.63a1708",
        "ce1770a5.08847"
      ],
      [
        "cb5282ef.1ac1d8",
        "ce1770a5.08847"
      ]
    ]
  },
  {
    "id": "ea9df9f.63a1708",
    "type": "debug",
    "z": "3fd1c00e.18368",
    "name": "MSG::Sensors Collection DEBUG",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 940,
    "y": 80,
    "wires": []
  },
  {
    "id": "ce1770a5.08847",
    "type": "mongodb out",
    "z": "3fd1c00e.18368",
    "mongodb": "3fe2d92d.a8acae",
    "name": "DOCKER_MONGO_OUT",
    "collection": "",
    "payonly": true,
    "upsert": false,
    "multi": false,
    "operation": "store",
    "x": 1170,
    "y": 240,
    "wires": []
  },
  {
    "id": "cb5282ef.1ac1d8",
    "type": "debug",
    "z": "3fd1c00e.18368",
    "name": "MSG::SensorHistMsg:: DEBUG",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 910,
    "y": 400,
    "wires": []
  },
  {
    "id": "de602407.adea58",
    "type": "comment",
    "z": "3fd1c00e.18368",
    "name": "Non-Historical Msg",
    "info": "",
    "x": 910,
    "y": 200,
    "wires": []
  },
  {
    "id": "4cd57d43.0c8e6c",
    "type": "comment",
    "z": "3fd1c00e.18368",
    "name": "Historical Msg",
    "info": "",
    "x": 870,
    "y": 280,
    "wires": []
  },
  {
    "id": "2e852088.9d8e5",
    "type": "mqtt-broker",
    "z": "",
    "name": "PI-MQTT-BUS",
    "broker": "192.168.86.41",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": false,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "3fe2d92d.a8acae",
    "type": "mongodb",
    "z": "",
    "hostname": "127.0.0.1",
    "port": "27017",
    "db": "meteor",
    "name": "DOCKER MONGO"
  }
]